.client-input{
    margin-top: 1%;
    margin-left: 1%;
    min-width: 150px;
    max-width: 400px;
    width: 100%;
 
  }

.form{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-button{
  margin-left: 1%;
}